@font-face{font-family:'Barlow Condensed';font-weight:300;font-style:normal;src:url(BarlowCondensed-300.ttf) format('truetype')}
@font-face{font-family:'Barlow Condensed';font-weight:400;font-style:normal;src:url(BarlowCondensed-400.ttf) format('truetype')}
@font-face{font-family:'Barlow Condensed';font-weight:500;font-style:normal;src:url(BarlowCondensed-500.ttf) format('truetype')}
@font-face{font-family:'Barlow Condensed';font-weight:600;font-style:normal;src:url(BarlowCondensed-600.ttf) format('truetype')}
@font-face{font-family:'Barlow Condensed';font-weight:700;font-style:normal;src:url(BarlowCondensed-700.ttf) format('truetype')}
@font-face{font-family:'Hanken Grotesk';font-weight:300;font-style:normal;src:url(HankenGrotesk-300.ttf) format('truetype')}
@font-face{font-family:'Hanken Grotesk';font-weight:400;font-style:normal;src:url(HankenGrotesk-400.ttf) format('truetype')}
@font-face{font-family:'Hanken Grotesk';font-weight:500;font-style:normal;src:url(HankenGrotesk-500.ttf) format('truetype')}
@font-face{font-family:'Hanken Grotesk';font-weight:600;font-style:normal;src:url(HankenGrotesk-600.ttf) format('truetype')}
@font-face{font-family:'Hanken Grotesk';font-weight:700;font-style:normal;src:url(HankenGrotesk-700.ttf) format('truetype')}
@font-face{font-family:'IBM Plex Mono';font-weight:400;font-style:normal;src:url(IBMPlexMono-400.ttf) format('truetype')}
@font-face{font-family:'IBM Plex Mono';font-weight:500;font-style:normal;src:url(IBMPlexMono-500.ttf) format('truetype')}
@font-face{font-family:'IBM Plex Mono';font-weight:600;font-style:normal;src:url(IBMPlexMono-600.ttf) format('truetype')}
